
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
  <app-navbar></app-navbar>

  <header class="u-clearfix u-gradient u-header u-header" id="sec-f15a"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <h3 class="u-headline u-text u-text-palette-1-dark-1 u-text-1">
      <a [routerLink]="['/hotels']" routerLinkActive="router-link-active" >Serenity</a>
    </h3>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
      <div class="menu-collapse">
        <a class="u-button-style u-nav-link u-text-palette-1-light-1" href="#" style="padding: 8px 0px;">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a760"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-a760" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-25 u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 8px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 8px 0px;">Sign In</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 8px 0px;">Sign Up</a>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 8px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 8px 0px;">Sign In</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 8px 0px;">Sign Up</a>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div></header> 
<section class="u-clearfix u-custom-color-4 u-section-1" id="sec-0ea8">
  <div class="u-expanded-width-xs u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
  <img src="assets/images/ahmed-yaaniu-RDnYlufMFAw-unsplash.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="4605" data-image-height="3070">
  <div class="u-container-style u-group u-group-1">
    <div class="u-container-layout u-valign-top-md">
      <p class="u-text u-text-1">Whilst the famous cities of London and Paris never really loose the crowds, here are a few trade-offs I am sure you will fall in love that are (nearly) free from selfie stick attacks and queues long enough to be a flight time during
                    the offseason</p>
      <div class="u-border-1 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
    </div>
  </div>
  <div class="u-container-style u-group u-shape-rectangle u-group-2">
    <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
      <h1 class="u-text u-text-palette-1-dark-1 u-title u-text-2">Best Hotels<br>to Visit
      </h1>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-1-dark-1 u-section-2" id="sec-b331">
  <div class="u-custom-color-4 u-expanded-height u-shape u-shape-rectangle u-shape-1"></div>
  <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-size-18 u-size-60-md">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
              <div class="u-container-layout">
                <img class="u-expanded-width u-image u-image-1" src="assets/images/nick-fewings-_AXfP_W4fpU-unsplash.jpg" data-image-width="5472" data-image-height="3648">
                <h5 class="u-text u-text-1">01</h5>
                <p class="u-text u-text-2">Situé sur la plage, à Djerba, à 6 km de Midoun, le Robinson Club Djerba Bahiya est un établissement luxueux qui dispose d'une piscine, d'un court de tennis et d'une salle de sport. everything is so perfect and the restaurant is the top!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-size-42 u-size-60-md">
          <div class="u-layout-col">
            <div class="u-size-40">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-shading u-size-60 u-image-2" data-image-width="3992" data-image-height="2992">
                  <div class="u-container-layout u-container-layout-2">
                    <h2 class="u-text u-text-3">Stay at the finest Hotels</h2>
                    <p class="u-text u-text-4">While there is no denying that winter sea swimming is reserved for the fearless, there is still some good surf and sun-kissed days to be had. With over 300 sunny days a year and heavily discounted prices
                                                outside summer, the off-season in the Algarve is a good gamble to get your winter Vitamin C. <br>
                    </p>
                    <a [routerLink]="['/reservation']" routerLinkActive="router-link-active"  class="u-border-1 u-border-palette-1-base u-link u-text-palette-1-dark-1 u-link-1" title="read more" target="_blank">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-3" src="assets/images/patrick-robert-doyle-AH8zKXqFITA-unsplash.jpg" data-image-width="6201" data-image-height="4134">
                    <h5 class="u-text u-text-5">02</h5>
                    <p class="u-text u-text-6">Le Mirage Resort &  SPA vous accueille à Hammamet, à 5 km de Yasmine Hammamet. Le complexe possède une plage privée, un restaurant et un bar.</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-4" src="assets/images/mike-swigunski-yERyCOOT8i8-unsplash.jpg" data-image-width="4000" data-image-height="2250">
                    <h5 class="u-text u-text-7">03</h5>
                    <p class="u-text u-text-8">Alors vraiment le meilleur hôtel que j’ai pu visiter jusqu’à présent tellement propre tout neuf bungalow de qualité , le service incroyable personnel très a l’écoute très serviable</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-5" src="assets/images/patrick-robert-doyle-pZ6W7HuuY6w-unsplash.jpg" data-image-width="6000" data-image-height="3375">
                    <h5 class="u-text u-text-9">04</h5>
                    <p class="u-text u-text-10">j’ai eu le droit a un gâteau offert pour l’anniversaire de mon mari , idéal pour couple même pour famille. J’y retournerais sans aucun doute</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-gradient u-section-3" id="carousel_545a">
  <div class="u-expanded-width-xs u-shape u-shape-rectangle u-white u-shape-1"></div>
  <img src="assets/images/125741b74519b5bcef361d99a857eca596c47063cd6c783ab23b345b9229d5bdf8617ff225748aba24db7037e95d3bf4d47b97a2626b5898d5ec60_1280.jpg" alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="150" data-image-height="99">
  <div class="u-container-style u-expanded-width-xs u-group u-group-1">
    <div class="u-container-layout u-valign-middle u-container-layout-1">
      <h1 class="u-text u-text-palette-1-light-3 u-title u-text-1">Rooms with the best Views</h1>
    </div>
  </div>
  <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
          <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-2">
            <h3 class="u-text u-text-2">Stonehenge</h3>
            <p class="u-text u-text-3"> Stand in awe at this iconic Neolithic stone structure. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
          <div class="u-container-layout u-valign-middle-sm u-valign-top-md u-container-layout-3">
            <h3 class="u-text u-text-4">Glastonbury</h3>
            <p class="u-text u-text-5"> SA significant religious and spiritual site infused with stories of early Christianity, Arthurian legend, and pagan culture consectetur adipiscing elit nullam</p>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
          <div class="u-container-layout u-valign-middle-sm u-valign-top-md u-container-layout-4">
            <h3 class="u-text u-text-6">Dartmoor</h3>
            <p class="u-text u-text-7"> Roam this distinctive craggy moorland landscape and get up close to wild Dartmoor ponies grazing near surreal granite outcrops, justo sagittis suscipit ultrices.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-4" id="carousel_bbf5">
  <div class="u-custom-color-4 u-expanded u-shape u-shape-rectangle u-shape-1"></div>
  <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-size-30 u-size-60-md">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" data-image-width="3689" data-image-height="5534">
              <div class="u-container-layout"></div>
            </div>
          </div>
        </div>
        <div class="u-size-30 u-size-60-md">
          <div class="u-layout-col">
            <div class="u-size-40">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-2" data-image-width="5760" data-image-height="3840">
                  <div class="u-container-layout u-container-layout-2">
                    <h2 class="u-text u-text-palette-5-light-2 u-text-1">Top Chef Restaurants& Bars</h2>
                    <p class="u-text u-text-2">The capital city of the Saxony region, Dresden was a pleasant surprise. The city is compact enough to aimlessly explore on foot, and the grand Baroque architecture, which was restored (and in some case,
                                                is still being repaired) following the extensive damage of the war makes this a worthy European city break to rival some of the other grand cities in central Europe.<br>
                    </p>
                    <a [routerLink]="['/reservation']" routerLinkActive="router-link-active"  class="u-border-1 u-border-palette-1-base u-link u-text-palette-1-dark-1 u-link-1" title="read more" target="_blank">Book Now<span class="u-text-palette-5-light-1"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-30 u-image-3" data-image-width="1067" data-image-height="1600">
                  <div class="u-container-layout"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-4" data-image-width="3218" data-image-height="2240">
                  <div class="u-container-layout"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-gradient u-section-5" id="carousel_279b">
  <div class="u-expanded-width-sm u-expanded-width-xs u-shape u-shape-rectangle u-white u-shape-1"></div>
  <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-29 u-image-1" data-image-width="1600" data-image-height="1199">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
            <h2 class="u-text u-text-palette-1-light-1 u-text-1">We help you relax</h2>
            <p class="u-text u-text-palette-1-light-3 u-text-2">The offseason is the best time to visit Europe and pretend it is your own private playground. Whilst the famous cities of London and Paris never really loose the crowds, here are a few trade-offs I am sure you will fall
                                in love that are (nearly)<br>
            </p>
            <a [routerLink]="['/reservation']" routerLinkActive="router-link-active"  class="u-border-1 u-border-palette-1-base u-link u-text-palette-1-dark-1 u-link-1" title="read more" target="_blank">Book Now</a>
          </div>
        </div>
        <div class="u-container-style u-image u-layout-cell u-size-15 u-image-2" data-image-width="3222" data-image-height="4400">
          <div class="u-container-layout"></div>
        </div>
        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-16 u-image-3" data-image-width="5622" data-image-height="3748">
          <div class="u-container-layout"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
    <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
      <h5 class="u-text u-text-3">Feeling stressed? let's have a massage…</h5>
      <p class="u-text u-text-4">we have the best masseurs tht will make you feel fresh and give you that boost of energy and tranquility</p>
    </div>
  </div>
</section>

<script class="u-script" type="text/javascript" src="src/assets/js/jquery.js" ></script>
<script class="u-script" type="text/javascript" src="src/assets/js/main.js" ></script>
</body>

